/* Coded by Romuald Gouaille */

body
{
	font-family: 'Raleway', sans-serif;
	text-shadow: #F2F2F2 0px 1px;
	margin: 0;
}

main
{
	padding: 3em;
	padding-top: 0;
}

header
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

/* Conteneurs flex */
.flex_container_col
{
	display: flex;
	flex-direction: column;
}

.flex_container_row
{
	display: flex;
	flex-direction: row;
}

/* Conteneurs */
.container_vert
{

}

.container_hori
{

}

/* Titres */
h1
{

}

h2
{
	font-size: 1.5em;
	margin-top: 0.33em;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	font-weight: 900;
	padding-bottom: 0.5em;
}

.h2_pad
{
	padding-left: 0.5em;
}

h3
{

}

h4
{
	font-size: 1.2em;
	margin-top: 0.33em;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	font-weight: 700;
}

/* Paragraphes */
p
{
	font-size: 1em;
	margin-top: 0.33em;
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;
}

strong
{
	font-weight: 700;
}

/* Liens */
a:link
{
	text-decoration: none;
	color: initial;
}

/* Liens (visités) */
a:visited
{
	color: initial;
}

/* Liens (survol) */
a:hover
{
	color: #0065FC;
}

/* Liens (actifs) */
a:active
{

}

/* Liens (focus) */
a:focus
{

}

/* Logo */
#logo
{
	height: 3em;
	width: 6em;
	padding-top: 1em;
	order: 1;
}

/* Inscription */
#signup
{
	padding: 1em;
	padding-top: 2em;
	font-weight: 900;
	text-shadow: #DEEBFF 2px 2px;
	max-width: 20em;
	order: 3;
	color: #0065FC;
}

/* Menu */
nav
{
	width: 100%;
	justify-content: flex-end;
	order: 2;
}

/* Page active */
nav ul li a.active
{
	border-top-style: solid;
	border-top-width: 2px;
	border-top-color: #0065FC;
	color: #0065FC;
}

/*Puces du menu*/
nav ul
{
	display: flex;
	flex-direction: row;
	list-style-type: none;
	margin-top: 0;
	padding-top: 0;
}

/* Items du menu */
.menu_item
{
	display: flex;
	padding: 1em;
	padding-top: 2em;
	text-shadow: #DEEBFF 2px 2px;
}

/* Filtres */
#filters
{
	line-height: 2.2em;
	padding-top: 1em;
	padding-bottom: 1em;
	margin-bottom: 1em;
}

/* Filtres (titre) */
#filters .filters
{
	align-content: center;
	padding-top: 0.1em;
	margin-right: 1em;
}

/* Filtres (catégories) */
#filters .category
{
	display: flex;
	font-weight: 700;
	margin-left: 1em;
	margin-right: 1em;
	padding-right: 1em;
	border: 2px solid #F2F2F2;
	border-radius: 1.5em;
}

/* Filtres (svg) */
#filters .filters_svg
{
	height: 1em;
	width: 1em;
	color: #0065FC;
	background-color: #DEEBFF;
	border-radius: 2em;
	padding: 0.7em;
	margin-right: 0.5em;
}

/* Zone de recherche */
#searchbar
{
	justify-content: flex-start;
}

/* Bouton "Localisation" */
#searchbar .localisation
{
	justify-content: center;
	height: 3em;
	background-color: #F2F2F2;
	border-radius: 0.8em 0 0 0.8em;
	outline: none;
	border: none;
	color: black;
}

/* Bouton "Localisation" (svg) */
#searchbar .localisation_svg
{
	height: 1em;
	width: 1em;
}

/* Champ de recherche */
#searchbar .field
{
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	border: 1px solid #F2F2F2;
	border-right: none;
	border-left: none;
	padding-left: 1em;
	height: 3em;
	outline: none;
}

/* Bouton "Rechercher" */
#searchbar .search_button
{
	justify-content: center;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	text-decoration: none;
	color: white;
	height: 3em;
	background-color: #0065FC;
	border-radius: 0 0.8em 0.8em 0;
	outline: none;
	border: none;
	letter-spacing: 1px;
}

#result_number .result_number_svg
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	font-size: 1.2em;
	border: 2px solid;
	border-color: #F2F2F2;
	border-radius: 1em;
	height: 1em;
	width: 1em;
	color: #0065FC;
	padding: 0.1em;
	margin-right: 0.5em;
}

/* Résultats */
#results
{
	width: 100%;
	justify-content: flex-start;
}

/* Hébergements */
#accomodation
{
	width: 70%;
	height: auto;
	background-color: #F2F2F2;
	padding: 2em;
	margin: 2em;
	margin-left: 0;
	border-radius: 1em;
}

/* Hébergement (conteneur) */
#accomodation .container
{
	justify-content: space-between;
	flex-wrap: wrap;
}

/* Hébergements (liens) */
#accomodation .link
{
	justify-content: space-between;
	flex-wrap: wrap;
}

/* Hébergement (miniatures) */
#accomodation .mini
{
	justify-content: flex-start;
	background-color: white;
	box-shadow: 0em 0em 0.5em grey;
	width: 28%;
	padding: 0.3em;
	margin-top: 1em;
	margin-bottom: 2.5%;
	border-radius: 1em;
}

/* Hébergement (miniatures images) */
#accomodation .mini_picture
{
	border-radius: 0.8em 0.8em 0 0;
	width: 100%;
	height: 10em;
	object-fit: cover;
}

/* Hébergement (miniatures descriptions) */
#accomodation .mini_desc
{
	flex-direction: column;
	border: 0;
	padding: 0;
	padding-bottom: 0.5em;
	padding-left: 1em;
}

/* Populaires */
#popular
{
	width: 30%;
	height: auto;
	background-color: #F2F2F2;
	padding: 2em;
	margin: 2em;
	margin-right: 0;
	border-radius: 1em;
}

/* Populaires (miniatures) */
#popular .mini
{
	justify-content: flex-start;
	background-color: white;
	box-shadow: 0em 0em 0.5em grey;
	margin: 1em;
	padding: 0.3em;
	border-radius: 1em;
}

/* Populaires (miniatures images) */
#popular .mini_picture
{
	border-radius: 0.8em 0 0 0.8em;
	width: 10em;
	height: 11em;
	object-fit: cover;
}

/* Populaires (miniatures descriptions) */
#popular .mini_desc
{
	padding-left: 1em;
}

/* Notation */
.notation_ful
{
	color: #0065FC;
}

.notation_emp
{
	color: #F2F2F2;
}

/* Activités (conteneur) */
#activities .flex_container_row
{
	justify-content: space-between;
	width: 100%;
}

#activities .flex_container_row > *
{
	width: 23.5%;
}

#activities .flex_container_col
{
	justify-content: space-between;
}

/* Activités (grand) */
#activities .big
{
	box-shadow: 0em 0em 0.5em grey;
	border-radius: 1em;
}

/* Activités (grand miniatures images) */
#activities .big_picture
{
	border-radius: 0.8em 0.8em 0 0;
	object-fit: cover;
	height: 29.6em;
}

/* Activités (grand miniatures descriptions) */
#activities .big_desc
{
	flex-direction: column;
	padding: 1em;
}

/* Activités (moyen) */
#activities .medium
{
	box-shadow: 0em 0em 0.5em grey;
	border-radius: 1em;
}

/* Activités (moyen miniatures images) */
#activities .medium_picture
{
	border-radius: 0.8em 0.8em 0 0;
	object-fit: cover;
	height: 12.5em;
}

/* Activités (moyen miniatures descriptions) */
#activities .medium_desc
{
	flex-direction: column;
	padding: 1em;
}

/* Activités (petit) */
#activities .small
{
	box-shadow: 0em 0em 0.5em grey;
	border-radius: 1em;	
}

/* Activités (petit miniatures images) */
#activities .small_picture
{
	border-radius: 12px 12px 0 0;
	object-fit: cover;
	height: 9em;
}

/* Activités (petit miniatures descriptions) */
#activities .small_desc
{
	padding: 1em;
}

/* Footer (conteneur) */
footer .container
{
	justify-content: flex-start;
	background-color: #F2F2F2;
	margin-top: 3em;
	padding-left: 3em;
	padding-bottom: 3em;
}

/* Footer (colonnes) */
footer .column
{
	justify-content: flex-start;
	align-items: flex-start;
	width: 35%;
	line-height: 2em;
	padding-top: 3em;
	padding-left: 0;
}

@media screen and (max-width: 1100px)
{

	.flex_container_col
	{
		padding: 0;
		margin: 0;
	}

	.flex_container_row
	{
		padding: 0;
		margin: 0;
	}
	
	main
	{
		padding: 0;
		margin: 0;
	}

	header
	{
		display: inline-block;
		width: 100%;
	}

	h2
	{
		font-size: 3em;
		font-weight: 700;
	}

	h3
	{
		font-size: 2em;
	}

	h4
	{
		font-size: 2.5em;
	}

	p
	{
		font-size: 2em;
	}

	#logo
	{
		height: 6em;
		width: 16em;
	}

	#signup
	{
		float: right;
		font-size: 2em;
		padding-top: 2em;
		padding-right: 1em;
	}

	nav ul
	{
		display: flex;
		justify-content: space-between;
		width: 100%;
		padding: 0;
		font-size: 2em;
	}

	nav ul li
	{
		display: flex;
		justify-content: center;
		width: 50%;
		border-bottom-style: solid;
		border-bottom-width: 2px;
		border-bottom-color: #F2F2F2;
	}

	/* Page active */
	nav ul li a.active
	{
		justify-content: center;
		border-top-style: none;
		border-bottom-style: solid;
		border-bottom-width: 2px;
		border-bottom-color: #0065FC;
		width: 100%;
	}

	/* Zone de recherche */
	#searchbar
	{
		justify-content: space-between;
		padding: 3em;
	}

	/* Bouton "Localisation" */
	#searchbar .localisation
	{
		height: auto;
		width: 6em;
		padding-left: 0.5em;
	}

	/* Bouton "Localisation" (svg) */
	#searchbar .localisation_svg
	{
		height: 3em;
		width: 3em;
		padding-left: 1em;
	}

	/* Champ de recherche */
	#searchbar .field
	{
		font-size: 2em;
		width: 68%;
		padding-left: 1em;
	}

	/* Bouton "Rechercher" */
	#searchbar .search_button
	{
		font-size: 2em;
		padding-left: 0.5em;
		padding-right: 0.5em;
	}

	/* Filtres */
	#filters
	{
		flex-wrap: wrap;
		font-size: 2em;
		padding-left: 1.5em;
	}

	/* Filtres (titre) */
	#filters .filters
	{
		margin-right: 100%;
	}

	/* Filtres (catégories) */
	#filters .category
	{
		margin: 0;
		margin-right: 1em;
		margin-bottom: 1em;
		padding: 0;
		padding-right: 1em;	
	}

	/* Filtres (svg) */
	#filters .filters_svg
	{
		height: 1em;
		width: 1em;
	}

	#results_number
	{
		flex-wrap: wrap;
	}

	#result_number .result_number_svg
	{
		font-size: 3em;
		margin: 0;
		margin-left: 1em;
		margin-right: 0.5em;
		margin-bottom: 2em;
		padding: 0;
	}

	/* Résultats */
	#results
	{
		flex-direction: column;
	}

	/* Populaires */
	#popular
	{
		order: 1;
		width: auto;
		border-radius: 0;
		margin: 0;
	}

	/* Populaires (miniatures images) */
	#popular .mini_picture
	{
		height: 15em;
		width: 35%;
	}

	/* Hébergements */
	#accomodation
	{
		order: 2;
		width: auto;
		margin: 0;
		padding: 2.5em;
		background-color: white;
	}

	/* Hébergements (liens) */
	#accomodation .link
	{
		margin: 0;
		padding: 0;
	}

	/* Hébergement (miniatures) */
	#accomodation .mini
	{
		width: 100%;
		margin: 0;
		margin-top: 1em;
		margin-bottom: 1em;
		padding: 0;
		padding-bottom: 1em;
	}

	/* Hébergement (miniatures images) */
	#accomodation .mini_picture
	{
		width: auto;
		height: 15em;
		padding: 0.5em;
		border-radius: 1em 1em 0 0;
	}

	#activities
	{
		padding: 2.5em;
	}

	/* Activités (conteneur) */
	#activities .flex_container_row
	{
		flex-direction: column;
	}

	#activities .flex_container_row > *
	{
		width: 100%;
	}

	/* Activités (grand) */
	#activities .big
	{
		margin-bottom: 3em;
	}

	/* Activités (grand miniatures images) */
	#activities .big_picture
	{
		height: 15em;
	}

	/* Activités (moyen) */
	#activities .medium
	{
		margin-bottom: 3em;
	}

	/* Activités (moyen miniatures images) */
	#activities .medium_picture
	{
		height: 15em;
	}

	/* Activités (petit) */
	#activities .small
	{
		margin-bottom: 3em;
	}

	/* Activités (petit miniatures images) */
	#activities .small_picture
	{
		height: 15em;
	}

	/* Footer */
	footer .flex_container_row
	{
		flex-direction: column;
		font-size: 2em;
	}

	/* Footer (colonnes) */
	footer .column
	{
		width: 100%;
	}

}